[tool.usecli]
title = "{{ title | default('My CLI') }}"
description = "{{ description | default('A custom CLI tool') }}"
commands_dir = "{{ commands_dir | default('cli/commands') }}"
title_font = "{{ title_font | default('big') }}"
